<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand navigate" data-cls="home" href="#">Noiz3</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" data-cls="home" class="btn btn-simple navigate">Home</a>
            </li>
            <li>
                <a href="#" data-cls="tracks/layout" class="btn btn-simple navigate">Discover</a>
            </li>
            <li>
                <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</div>
