<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Noiz3</a>
    </div>
    <div class="collapse navbar-collapse" id="header-nav">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="navigate" data-cls="home" href='#'>Home</a>
            </li>
            <li>
                <a class="navigate" data-cls="tracks" href='#'>Tracks</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
        </ul>
    </div>
</div>
