<div id="filter">
    <form class="form">
        <ul>
            <li>
                <h4>Sort by</h4>
                <ul>
                    <li>
                        <input class="nz-input-radio" type="radio" value="" checked="checked" id="nz-input-date">
                        <label class="nz-label-radio" for="nz-input-date">Date</label>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Filter by</h4>
                <ul>
                    <li>
                        <input class="nz-input-checkbox" type="checkbox" value="" name="" id="nz-input-duration">
                        <label class="nz-label-checkbox" for="nz-input-duration">Duration</label>
                      </li>
                </ul>
            </li>
            <li>
                <h4>Tags</h4>
                <ul>
                    <li>
                        <input class="nz-input-checkbox" type="checkbox" value="" name="" id="nz-input-deep">
                        <label class="nz-label-checkbox" for="nz-input-deep">Deep</label>
                      </li>
                </ul>
            </li>

            <li class="nz-field-submit">
              <input type="submit" name="_sf_submit" value="Use filter">
            </li>
        </ul>
    </form>
</div>
