<section style="margin-top: 20px;">
    <div class="container main" id="main-content">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-8">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="search-query form-control" placeholder="enter your query" autocomplete="on" name="query" />
                                        <span class="input-group-btn">
                                          <button class="btn btn-danger btn-search" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                          </button>
                                        </span>
                                    </div>
                                </div>
                                <div align="center" style="margin-top: 15px;">
                                  <button type="button" class="btn btn-default btn-lg btn-search">Search</button>
                                </div>
                                <div class="padding"></div>
                                <div id="items-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div align="center" id="tags-content"></div>
            </div>
        </div>
    </div>
</section>
