<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper" class="">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#" onclick="$(&quot;#menu-close&quot;).click();">Menu</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Noize</h1>
        <h3>Soundcloud</h3>
    </div>
</header>

<section style="margin-top: 20px;">
    <div class="container main" id="main-content">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                          <div class="col-md-9">
                              <div class="input-group">
                                  <input type="text" class="form-control" name="query" autocomplete="true">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary btn-search" type="button">
                                      <i class="fa fa-search"></i>
                                    </button>
                                  </span>
                              </div>
                              <div class="padding"></div>
                              <div id="items-content"></div>
                          </div>
                            <div class="col-md-3">
                              <div id="tags-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
