<!-- Header -->
<header>
    <div class="container-full">
        <div class="intro-text">
            <div class="intro-lead-in">Noiz3!</div>
            <div class="intro-heading">Lets make some noise</div>
            <a href="#" data-section="#discover" class="page-scroll btn btn-xl">Discover</a>
        </div>
    </div>
</header>
