<div class="row" style="margin-top: 20px;">
  <ul class="tracks-list items"></ul>
</div>

<div class="row">
    <div align="center">
        <ul class="pagination" style="display: none;">
            <li>
                <a href="#" class="btn btn-dark btn-next">Next page</a>
            </li>
        </ul>
    </div>
</div>
