<section class="nz-gallery">
  <div class="row items"></div>
</section>

<section class="nz-pagination">
    <div align="center">
        <ul class="pagination" style="display: none;">
            <li>
                <a href="#" class="btn btn-dark btn-next">Next page</a>
            </li>
        </ul>
    </div>
</div>
