<div class="dropup" style="margin-top: 20px;">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="#" class="sort">Created date</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th style="text-align: center">
            </th>
            <th style="text-align: center">
              <i class="fa fa-heart"></i>&nbsp;Likes
            </th>
            <!-- <th style="text-align: center">
              <i class="fa fa-comments"></i>&nbsp;Comments
            </th> -->
          </tr>
        </thead>
        <tbody class="items"></tbody>
    </table>
</div>

<div class="padding"></div>

<ul class="pagination">
    <li>
      <a href="#" class="btn btn-dark btn-next">Next page</a></li>
</ul>
