<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="tracks-wrapper">
            <div class="tracks-header">
                <a href="#" class="show-list"><i class="fa fa-th-list"></i></a>
                <a href="#" class="show-player"><i class="fa fa-th"></i></a>
            </div>
            <div class="tracks">

            </div>
        </div>
    </div>
</div>
</div>
