<div class="row">
  <div class="col-md-5">
    <section id="tracks-content"></section>
  </div>
  <div class="col-md-4">
    <section id="filters-content"></section>
  </div>
  <div class="col-md-3">
    <section id="tags-content"></section>
  </div>
</div>
