<!-- <div class="row">
    <div class="col-md-12">
        <div id="search-wrap">
            <form action="" autocomplete="on">
                <input id="search-value" name="search-value" type="text" class="search-value" placeholder="What are you looking for.. ?">
                <input id="search-action" value="" class="search-action">
            </form>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div id="filters-content"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div id="tracks-content" class="tracks-content"></div>
    </div>
    <div class="col-md-3">
        <div id="tags-content" style="display: none;"></div>
    </div>
</div>
