<div class="row">
    <div class="col-md-12">
        <div id="search-wrap">
            <form action="" autocomplete="on">
                <input id="search-value" name="search-value" type="text" class="search-value" placeholder="What are you looking for.. ?">
                <input id="search-action" value="" class="search-action">
            </form>
        </div>
        <div id="button-wrap">
            <div class="sub-main">
                <button class="button-two"><span>Search</span></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-7">
        <section id="tracks-content" class="tracks-content"></section>
        </nav>
    </div>
    <div class="col-md-3">
        <section id="tags-content"></section>
    </div>
</div>
