<h3>Tracks list</h3>
<hr class="small"/>
<div class="tracks-wrapper">
    <div class="tracks-header">
        <a href="#" class="show-list"><i class="fa fa-th-list"></i></a>
        <a href="#" class="show-player"><i class="fa fa-th"></i></a>
    </div>
    <div class="tracks"></div>
</div>
