<a href="#">
    <div class="main-image">
      <img class="responsive" src="{{artwork_url}}"/>
    </div>
    <span class="link-title">{{title}}</span>
    <span class="link-excerpt"><time class="date" datetime="November 12 2012">Nov 12, 2012</time> / No Comments</span>
</a>
<hr class="small"/>
