<div class="cd-filter">
  <form>
    <div class="cd-filter-block">
      <h4>Filter by</h4>
      <ul class="cd-filter-content cd-filters list">
          <li>
            <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
              <label class="checkbox-label" for="checkbox1">Downloadable</label>
          </li>

          <li>
            <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
            <label class="checkbox-label" for="checkbox2">Duration (> 30min)</label>
          </li>
        </ul>
    </div>
  </form>

  <a href="#0" class="cd-close">Close</a>
</div>

<a href="#0" class="cd-filter-trigger">Filters</a>
