<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="music_player" id="player">
                <audio preload id="audio-content" crossorigin="anonymous" src="{{stream_url}}">Your browser does not support HTML5 Audio!</audio>
                <div class="artist_img">
                    <img src="{{artwork_url}}">
                </div>
                <div class="time_slider">
                    <progress id="seek-obj" value="0" max="1"></progress>
                    <span class="time-now"></span>
                    <span class="time-finish"></span>
                </div>
                <div class="music_info">
                    <p class="date">{{created_at}}</p>
                    <p class="song_title">{{title}}</p>
                </div>
                <div class="controllers">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                    <i class="fa fa-play" aria-hidden="true"></i>
                    <i class="fa fa-stop hide" aria-hidden="true"></i>
                    <i class="fa fa-fast-forward" aria-hidden="true"></i>
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div id="planetarium"></div>
        </div>
    </div>
</div>
