    *, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        text-decoration: none;
        user-select: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    body {
        margin: 0;
        font-family: 'Roboto';
        font-size: 14px;
        color: #2f2f2f;
    }
    /* layout  */

    section {
        padding: 0;
    }

    section:not(#discover) {
        margin-top: 75px;
    }

    section.track-full {
        width: 100%;
        display: table;
        max-width: none;
        height: 100vh;
        padding-top: 35px;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    ul {
        list-style: none;
    }

    nav, header {
        background-color: #6f5499 !important;
        background-image: none !important;
    }

    .container-full {
        margin: 0 auto;
        width: 100%;
    }

    .navbar-brand, .navbar-nav>li>a {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav>.active>a {
        opacity: .6;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
    }

    #search-wrap {
        margin: 50px 120px;
        display: inline-block;
        position: relative;
        float: right;
        padding: 0;
        position: relative;
    }

    #button-wrap {
        margin: 50px 50px;
        display: inline-block;
        position: relative;
        float: left;
        padding: 0;
        position: relative;
    }

    input.search-value {
        height: 60px;
        font-size: 55px;
        display: inline-block;
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 45px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 5px;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }

    input.search-value:focus:hover {
        border-bottom: 1px solid #BBB;
    }

    input.search-value:focus {
        width: 700px;
        z-index: 2;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }

    input.search-action {
        height: 67px;
        width: 63px;
        display: inline-block;
        color: red;
        float: right;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity .4s ease;
    }

    input.search-action:hover {
        opacity: 0.8;
    }

    .actions div {
        margin: 10px;
    }

    .aligned {
        text-align: center;
        padding-bottom: 28%;
    }

    .aligned_input {
        text-align: center;
        padding-bottom: -10%;
    }

    .aligned_text {
        text-align: center;
        font-size: 88%;
    }

    .no:hover {
        background: none;
    }

    .no:active {
        background: none;
    }

    .btn-custom {
        background-color: black;
        color: white;
        transition-property: background, opacity;
        transition-duration: 0.5s;
    }

    .btn-custom:hover, .btn-custom:active, .btn-custom:focus {
        cursor: pointer;
        opacity: 0.5;
        color: white;
        background-color: white;
    }

    .search-query {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "Telefon Black", Sans-Serif;
        font-size: 6rem;
        font-weight: bold;
        background: none;
        color: #fed136;
        box-shadow: none !important;
        border: 0;
        padding: 0;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    .text-vertical-center {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .text-vertical-center h1 {
        margin: 0;
        padding: 0;
        font-size: 4.5em;
        font-weight: 700;
    }

    hr.small {
        max-width: 300px;
        margin-bottom: 50px;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
    }
    /** paddings and margins **/

    .margin-t100 {
        margin-top: 100px;
    }

    .margin-r20 {
        margin-right: 20px;
    }

    .padding-t50 {
        padding-top: 50px;
    }

    .padding-t150 {
        padding-top: 150px;
    }
