/** button styles **/

.btn {
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none;
}

.btn-primary {
    color: #FFF;
    background-color: #1ABC9C;
}

.sub-main{
  width: 100%;
  text-align: center;
  margin-top: 75px;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 auto;
}

/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:##fed136;
  border: none;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  color: #6f5499;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}
