.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}

.cssanimations .rolldown-list li {
  visibility: hidden;
  -moz-animation: rolldown 0.7s 1;
  -webkit-animation: rolldown 0.7s 1;
  animation: rolldown 0.7s 1;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #4d4d4d;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #333333;
}

#myList {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
}

#btnReload {
  float: right;
  color: #333;
  background: #ccc;
  text-transform: uppercase;
  border: none;
  padding: .5em 1em;
}

#btnReload:hover {
  background: #ddd;
}

@-moz-keyframes rolldown {
  0% {
    visibility: visible;
    -moz-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -moz-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rolldown {
  0% {
    visibility: visible;
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes rolldown {
  0% {
    visibility: visible;
    -moz-transform: rotateX(180deg) perspective(500px);
    -ms-transform: rotateX(180deg) perspective(500px);
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -moz-transform: rotateX(-20deg);
    -ms-transform: rotateX(-20deg);
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
