#tracks-content {
  background-color: #FFF;
  box-sizing: content-box;
  padding: 0;
  margin: auto;
}
#tracks-content ol {
  counter-reset: li;
  overflow: hidden;
  margin: 0;
  padding: 0px;
}
#tracks-content ol li {
  width: 100%;
  margin: 2.5px 0px 0px 2.5px;
  list-style: none;
}
#tracks-content ol,
#tracks-content ol li,
#tracks-content ol li a {
  display: block;
}
#tracks-content ol li a {
  font-size: 11px;
  height: 100px;
  position: relative;
  text-decoration: none;
}
#tracks-content li .main-image,
#tracks-content li .no-main-image {
  float: left;
  margin-right: 1.5em;
  width: 100px;
  height: 100px;
  background: #e6e6e6;
}
#tracks-content li .main-image {
  background-size: cover;
  background-position: center center;
}
#tracks-content a:link,
#tracks-content a:visited,
#tracks-content a:hover,
#tracks-content a:active {
  color: #000000;
}
#tracks-content ol li a:hover .main-image:after,
#tracks-content ol li a:hover .no-main-image:after {
  color: #2690d8;
}
#tracks-content ol li a:active .main-image:after,
#tracks-content ol li a:active .no-main-image:after,
#tracks-content ol li.active a .main-image:after,
#tracks-content ol li.active a .no-main-image:after {
  color: #777;
}
#tracks-content li span {
  display: block;
  line-height: 1.5em;
}
#tracks-content span.link-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0.6875em;
  font-size: 1.5em;
}
#tracks-content span.link-excerpt {
  color: #c3c3c3;
}
