
.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 30, 0.8);
}

.nz-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 280px;
    width: 100%;
    margin-bottom: 15px;
}
.nz-bg {
    background-color: #ed6f70;
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.nz-block {
    display: block !important;
}
.nz-button {
    margin: -45px -10px 0;
    text-align: right;
    width: 100%;
}
.nz-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.nz-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 82px;
    width: 72px;
}
.nz-divUser {
    margin: 5px 0 0;
}

.nz-divUser p {
  margin: 60px 0 0;
  padding: 10px;
}

.nz-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.nz-divName a {
    color: inherit !important;
}
.nz-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.nz-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.nz-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.nz-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.nz-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.nz-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.nz-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
