.player-wrapper {
    top: 35px;
    left: 35px;
    position: absolute;
    z-index: 2;
}

.player-wrapper:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#player {
    color: #fff;
    position: fixed;
    top: 151px;
    font-weight: 100;
    font-size: 26px;
    letter-spacing: 1px;
    opacity: 1;
    cursor: pointer;
    z-index: 40;
    font-style: italic;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

#player img {
    position: absolute;
    border-radius: 10px;
}

#player .player-song {
    width: 100%;
    height: 100%;
    margin-left: 230px;
}

#player .player-song .title {
    color: #6f5499;
    font-weight: 500;
    font-size: 20px;
}

#player .player-song .artist {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

#player .player-song .timestamps {
    width: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}

#player .player-song .actions {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player .player-song .actions .next, #player .player-song .actions .prev {
    cursor: pointer;
}

#player .player-song .actions i {
    font-size: 32px;
    transform: translateY(2px);
    color: #bbbbbb;
    transition: .1s;
}

#player .player-song .actions i:hover {
    color: #888888;
    transition: .1s;
}

#seconds {
    font-size: 10px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 15px);
    height: 6px;
    border-radius: 50px;
    margin-top: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 50px;
}

progress[value]::-webkit-progress-value {
    border-radius: 50px;
    background-color: #333DDD;
}

.play-button {
    height: 16px;
    width: 16px;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}

.play-button:hover .left, .play-button:hover .right {
    background-color: #888888;
}

.left {
    height: 100%;
    float: left;
    background-color: #bbbbbb;
    width: 36%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    overflow: hidden;
}

.triangle-1 {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.triangle-2 {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.triangle-1, .triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 16px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: #bbbbbb;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.paused .left {
    width: 50%;
}

.paused .right {
    width: 50%;
}

.paused .triangle-1 {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.paused .triangle-2 {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
