.tracks-wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tracks-wrapper a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tracks-header {
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fed136;
}

.tracks-header a {
    font-size: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.tracks-header a:hover, .list-mode .tracks-header a.show-player:hover {
    background-color: #6f5499;
}

.tracks-header a.show-player {
    background-color: #6f5499;
}

.list-mode .tracks-header a.show-player {
    background-color: #5DBA9D;
}

.list-mode .tracks-header a.show-list {
    background-color: #11956c;
}

.tracks-wrapper .box {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    background-color: #6f5499;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    transition: all 1.0s ease;
    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    /* Firefox 4 */
    -webkit-transition-timing-function: ease;
    /* Safari and Chrome */
    -o-transition-timing-function: ease;
    /* Opera */
}

.tracks-wrapper .box img {
  cursor: pointer;
}

.tracks-wrapper.list-mode .container {
    padding-right: 15px;
}

.tracks-wrapper.list-mode .box {
    width: 100%;
}
